%h3 About Us
%p.lead
  SnazzDat enables users to easily, conveniently, and privately find clothes that fit their exact body measurements before they visit their local brick and mortar stores.
  In a way, it is a rejection of the conventional method of shopping for clothes. However, we believe this helps our users in making informed purchasing decisions,
  saves them a ton of time, and the associated frustration with poorly fitted clothes. Additionally, we help our partner stores reduce the number of returned clothes and
  reach local high-intent purchasers (HIP). SnazzDat does
  %strong NOT
  sell clothes or any of the items we display for our users, we only provide them alongside the necessary
  information for users to make informed purchasing decisions.
%p.lead
  Two friends who share a belief that clothes needed to fit to people and not the other way around created SnazzDat in 2013. As shoppers, we wanted to create a platform
  that leveled the playing field in fashion retail and empowered the shopper. We do not believe anyone should spend hours and still not find what they are looking for; because,
  this results in impulse buying and a ton of returned clothes which leads to loss of time, frustration, and money. Therefore, we took a data-driven approach to the way shoppers
  consume fashion retail and incorporated many tools including a patent-pending comparison algorithm that eliminates most of the hassle associated with finding clothes. As we continue
  to work on this project, we will be incorporating a lot of functionality and features that will provide affordable personalized fashion shopping to everyone and not just those who can
  afford to pay the exorbitant prices charged for these services. Our services are totally
  %strong FREE
  to use! Our design and technical team continues to find intuitive and user-friendly ways
  to enable you experience the best of SnazzDat and easily find fashion you love.

  .row
    .col-sm-6
      %p.lead
        Godwin Oblitey
        %br/
        Co-Founder & CEO

    .col-sm-6
      %p.lead
        Nii Akwei Ankrah
        %br/
        Co-Founder & CTO

