.jumbotron
  %p.lead Are you a business owner interested in partnering with us?

%hr/
.row.business-signup
  .col-sm-6
    =render 'mailchimp_business_form'
  .col-sm-6
    .benefits-list
      %h4 How It Works
      %p
        SnazzDat enables users to create and maintain a fashion profile based on their measurements and other criteria.
        When they are ready to shop, they book an appointment at your store by selecting  a date, time, budget and exactly what they are looking for.
        We send their fashion profile in addition to the above to you electronically.
        You can use this information to assemble an outfit based on their profile for them to try on when they arrive.
        We are confident that when they try on the outfit, they will make a purchase.
        The personalized care and attention will ensure that our users continue to  patronize your store for all their fashion needs.
    .benefits-list
      %h4 Benefits
      %ul
        %li Drive foot traffic to your brick and mortar store.
        %li Receive notification of customers' sizing information and shopping list before they arrive at your store.
        %li Instantly connect with high-intent-purchase (HIP) customers online on our platform.
        %li Increase the chances of making a sale once a customer walks into your store.
        %li Reduce the volume of returned merchandise.
        %li Personalize and customize customers' shopping experience.
        %li Enhance and maintain rewarding customer relationships.
        %li Best of all its FREE to partner with us.

    .benefits-list
      %h4 Questions?
      %p
        Please do not hesitate to
        %a{href: 'mailto:admin@snazzdat.com'} contact us.