%h3 Frequently Provided Answers

%ol

  %li
    %strong SnazzDat
    is a location-based application accessible through your computer or phone’s
    browser; therefore, you need to enable location services on your browser to use the
    service. For IOS users, you can do this by going to
    %strong Settings > Privacy > Location Services > ON.
    Enabling location services on most devices is possible through the
    Privacy or Settings feature depending on your device.

  %li
    We do not store your search results for more than 23 hours and 59 minutes and you can
    search as many times as you want even without creating an account. Additionally, you
    receive new Suggestions every 23 hours and 59 minutes.

  %li Sorry, Suggestions are available to users who create an account (Profile) with us.

  %li
    We are working on a feature that will enable you to reserve the results that you receive
    at the store for a later pick-up. Yes! we are excited about this feature too and can’t wait
    to implement it. As soon as it is ready, our
    %strong registered users
    will be first to hear about it
    and of course we will let everybody else in on the secret.

  %li
    The best way to receive closer to accurate results is by creating a user profile with the
    most accurate description of your body measurements and preferences.

  %li
    Of course, you can always ask more questions and direct them to admin@snazzdat.com
    or check back here to see more frequently provided answers!