%h3 Features

.how-to-use
  %p
    %strong Spyglass icon (in navigation bar, top right)
    &mdash; This feature enables you to search and find anything fashion in your local area right away.
    Using key words, we are able to search your local area and find you stuff right away; for example, you can search "men's shirt" and it will return results based on gender and clothing description
    in your favorite local stores. Oh btw, you do not even have to create an account to use this feature.

  %p
    %strong My Suggestions *
    &mdash; This is a SnazzDat favorite where we automatically suggest local and personalized items to you based on your profile and preferences every 24 hours.
    The more accurate your profile information, the better this feature gets so it is important to have the most updated and true to nature data on your profile.
    This is available to our users only.

  %p
    %strong Appointments *
    &mdash; Another SnazzDat favorite, this feature enables you to make and confirm an appointment with any of our partners.
    Simply respond to the five questions, select a store of your choice from our partner network, and be amazed when you arrive at our partner store.


  %p.text-right
    %strong
      %em * Feature Coming Soon
