%h3 How to Measure
%p.lead
  Generally, we highly suggest that you have someone help you with the measurements to ensure
  accuracy and a level placement of the tape. Always measure over your undergarments and be sure to
  keep the tape snug not tight. Please ensure that you record the most accurate results to enable precise
  results.

%p
  %strong Bust:
  Loop the tape around the upper part of your body under your arms and ensure it covers the fullest
  part of your chest.
%p
  %strong Inseam:
  Measure from the top of one leg to the where your feet meets the ground.
%p
  %strong Waist:
  Measure around the narrowest part of your torso at your natural waistline. To find your natural
  waistline, bend to one side. There will usually be a crease where you bend. Often it is just below your
  ribcage. That is your natural waistline. Do not worry since this may seem higher than where you actually
  wear your pants and jeans. Keep the tape measure parallel to the floor as you measure all the way
  around your torso.

%p
  %strong Hips:
  Standing with heels together, measure around your body at the broadest part of your hips. This will
  include the fullest part of your backside too and should be just about, where your legs meet your torso.
  (Approximately 8" below natural waistline.)

%p
  %strong Height:
  Standing with your feet slightly apart and your back to a wall, measure from the floor to the top of
  your head.

%p
  %strong Sleeve Length:
  Measure from the top of your shoulder (normally parallel to your nape) to the bottom of
  your wrist.