=form_tag sessions_path, class: 'form-horizontal user-form' do
  .form-group
    =label_tag :username, "", class: 'sr-only'
    .col-md-9
      .input-group.input-group-lg
        %span.input-group-addon
          %i.fa.fa-user
        =text_field_tag :username, params[:email], class: 'form-control', placeholder: 'username'
      .help-block{style: 'color:#fff'}
        %span username is case sensitive

  .form-group
    =label_tag :password, "", class: 'sr-only'
    .col-md-9
      .input-group.input-group-lg
        %span.input-group-addon
          %i.fa.fa-lock
        =text_field_tag :password, "", type: 'password', class: 'form-control', placeholder: 'password'
      .help-block{style: 'color:#fff'}
        %span password is case sensitive


  .form-group
    .col-xs-4.col-md-2
      =submit_tag 'Sign In', class: 'btn btn-primary btn-lg'
  .row
    .col-xs-8.col-md-7
      %div
        =link_to "Don't have an account? Sign Up", sign_up_path
      %div
        =link_to "Forgot Username/Password?", password_reset_form_sessions_path