%h3 Forgot Username or Password?
%p.lead
  Enter your email for password reset instructions

=form_tag password_reset_sessions_path do
  .form-group
    =text_field(:reset, :email, class: 'form-control input-lg', placeholder: 'email@example.com')
  .form-group
    =submit_tag "Reset Password", class: 'btn btn-default btn-primary btn-lg'
