= form_tag search_index_path, method: :get, class: 'form-horizontal', role: 'form'  do
  .form-group
    =text_field_tag :search, params[:search], :class=>'form-control input-lg', placeholder: 'search products. example: white shirt'
  =#submit_tag :submit, value: "Search", class: 'btn btn-default'