.container
  -@products.in_groups_of(2).each do |products_array|
    .row
      -for product in products_array
        .col-xs-6.product
          .product-image
            =image_tag product['images'][1]['ImageInfo']['link']
          .description
            .name.description-item
              %strong=product['name']
            -if !product['brand'].blank?
              .brand.description-item
                =product['brand']
            .price.description-item
              Price:
              =product['msrpCurrency']
              =product['msrp']
            .size.description-item
              - if !product['size'].blank?
                Size(s):
                =product['size'][0]
              - else
                No size information available