=simple_form_for @user, html: {class: 'form-horizontal new-user-form'} do |f|
  .form-group{class: @user.errors[:username].size > 0 ? 'has-error' : ''}
    =f.label :username, class: 'sr-only'
    .col-sm-9
      .input-group
        %span.input-group-addon
          %i.fa.fa-user
        =f.input_field :username, class: 'form-control', placeholder: 'username', label: false
      .help-block
        =@user.errors[:username].first

  .form-group{class: @user.errors[:email].size > 0 ? 'has-error' : ''}
    =f.label :email, class: 'sr-only'
    .col-sm-9
      .input-group
        %span.input-group-addon
          %i.fa.fa-envelope
        =f.input_field :email, type: :email, class: 'form-control', placeholder: 'email address'
      .help-block
        =@user.errors[:email].first

  .form-group{class: @user.errors[:name].size > 0 ? 'has-error' : ''}
    =f.label :name, class: 'sr-only'
    .col-sm-9
      .input-group
        %span.input-group-addon
          %i.fa.fa-user
        =f.input_field :name, class: 'form-control', placeholder: 'name'
      .help-block
        =@user.errors[:name].first

  .form-group{class: @user.errors[:password].size > 0 ? 'has-error' : ''}
    =f.label :password, class: 'sr-only'
    .col-sm-9
      .input-group
        %span.input-group-addon
          %i.fa.fa-lock
        =f.input_field :password, type: 'password', class: 'form-control', placeholder: 'password'
      .help-block
        =@user.errors[:password].first

  .form-group{class: @user.errors[:password].size > 0 ? 'has-error' : ''}
    =f.label :password_confirmation, class: 'sr-only'
    .col-sm-9
      .input-group
        %span.input-group-addon
          %i.fa.fa-lock
        =f.input_field :password_confirmation, type: 'password', class: 'form-control', placeholder: 'password confirmation'
      .help-block
        =@user.errors[:password_confirmation].first

  .form-group
    .col-sm-9
      =f.button :submit, 'Sign Up', class: 'btn btn-primary'

%a{href:log_in_path} Have an account? Sign In


:javascript
  $('.new-user-form').on('submit', function(e){
      //e.preventDefault();
      var password_input = $.trim($('#user_password').val());
      var password_confirm_input = $.trim($("#user_password_confirmation").val());

      var msg ='';
      if(password_input == '') {
        msg = 'Please enter a password';
      } else if (password_input != '' && password_input != password_confirm_input) {
        msg = 'Both password fields must match';
      }

      if (msg != '') {
        $('#user_password').closest('.form-group').addClass('has-error');
        $('#user_password').closest('.col-sm-9').find('.help-block').append(msg);
        return false;
      } else {
        return true;
      }

  });