%h3 My Account
.panel.panel-default
  .panel-heading
    .pull-right
      =link_to "Edit", edit_user_path, class: 'btn-link'
    Account Information
  .panel-body
    %p
      %strong Username:
      =@user.username
    %p
      %strong Full Name:
      =@user.name
    %p
      %strong Gender:
      =@user.gender
    %p
      %strong Email:
      =@user.email
