%h3 My Account
.panel.panel-default
  .panel-heading
    .pull-right
      =link_to "Edit", '#'
    Account Information
  .panel-body
    %p
      %strong Username:
      =@user.username
    %p
      %strong Full Name:
      =@user.full_name
    %p
      %strong Email:
      =@user.email


.panel.panel-default
  .panel-heading
    -unless @user.size.nil?
      .pull-right
        =link_to "Edit", edit_user_size_path(user_id: current_user.id, id: @user.size.id)
    Size Profile
  .panel-body
    -if @user.size.nil?
      =link_to "Enter your sizing information", new_user_size_path(user_id: current_user.id)
    -else
      =@user.size.neck