#error-modal.modal.fade
  .modal-dialog.modal-sm
    .modal-content
      .modal-body.text-center
      .modal-footer
        %a.btn{"aria-hidden" => "true", "data-dismiss" => "modal", :href => "#"} Close