#fb-root
:javascript
  window.fbAsyncInit = function() {
    Parse.FacebookUtils.init({
      appId      : "#{LibConstants::FACEBOOK_APP_ID}",
      status     : true, // check login status
      cookie     : true, // enable cookies to allow the server to access the session
      xfbml      : false,  // parse XFBML
      version    : 'v2.1'
    });



      FB.Event.subscribe('auth.authResponseChange', function(response) {
        // Here we specify what we do with the response anytime this event occurs.
        if (response.status === 'connected') {
          // The response object is returned with a status field that lets the app know the current
          // login status of the person. In this case, we're handling the situation where they
          // have logged in to the app.
          /*FB.api('/me', function(response) {
                console.log('Good to see you, ' + response.name + '.');
          });*/

        } else if (response.status === 'not_authorized') {
          // In this case, the person is logged into Facebook, but not into the app, so we call
          // FB.login() to prompt them to do so.
          // In real-life usage, you wouldn't want to immediately prompt someone to login
          // like this, for two reasons:
          // (1) JavaScript created popup windows are blocked by most browsers unless they
          // result from direct interaction from people using the app (such as a mouse click)
          // (2) it is a bad experience to be continually prompted to login upon page load.
         window.FBLogin();
        } else {
          // In this case, the person is not logged into Facebook, so we call the login()
          // function to prompt them to do so. Note that at this stage there is no indication
          // of whether they are logged into the app. If they aren't then they'll see the Login
          // dialog right after they log in to Facebook.
          // The same caveats as above apply to the FB.login() call here.
          window.FBLogin();
        }
      });

  };

    // Load the SDK asynchronously
  (function(d, s, id){
   var js, fjs = d.getElementsByTagName(s)[0];
   if (d.getElementById(id)) {return;}
   js = d.createElement(s); js.id = id;
   js.src = "http://connect.facebook.net/en_US/sdk.js";
   fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  window.FBLogin = function() {
        Parse.FacebookUtils.logIn('email', {
            success: function(user) {
              var fbData = user.attributes.authData.facebook;
              FB.api('/me', function(response) {
              var gender = response.gender[0].toUpperCase()+response.gender.slice(1);
                Parse.User.current().save({
                  name: response.name,
                  gender: gender,
                  email: response.email
                },
                {
                  success: function(successResponse) {
                    $.ajax({
                      type: 'POST',
                      url: "#{sessions_path}",
                      data: {
                        facebook: 'login',
                        user_id: fbData.id+"",
                        access_token: fbData.access_token+"",
                        expires: fbData.expiration_date+""
                      },
                      success: function(){
                        window.location.reload();
                      }

                    });

                  },
                  error: function(errorResponse, error) {
                      console.log("ERROR");
                      console.log(errorResponse);
                      console.log(error);
                  }
                });
              });

              if (!user.existed()) {
                console.log("User signed up and logged in through Facebook!");
              } else {
                console.log("User logged in through Facebook!");
              }
            },
            error: function(user, error) {
              console.log(error);
              console.log(user);
              $('#error-modal').find('.modal-body').text('There was an error logging you in. Please grant us permissions in order to log in.  If you are having problems logging in, please contact us at admin@snazzdat.com');
              $('#error-modal').modal('show');
            }
          });


    }

    window.FBLogout = function(){
      Parse.User.logOut();
    }

    $(function(){
       if ("#{current_user.nil?}" == 'true') {
           window.FBLogout();
       }

    });
