.row
  .col-6
    %h3
      Hello
      =current_user.full_name
.row
  .col-3
    %a.thumbnail{href:"#"}
      %img{:alt => "", "data-src" => "holder.js/300x200"}/
.row
  .col-6
    %h3
      Sizes
    %table.table-striped.table-bordered.col-12
      %tbody
        %tr
          %td
            Waist
          %td
            =current_user.size.waist
        %tr
          %td
            Bust
          %td
            =current_user.size.bust
        %tr
          %td
            Neck
          %td
            =current_user.size.neck
        %tr
          %td
            Shoulder
          %td
            =current_user.size.shoulder
