.row.text-center
  %h4 SnazzDat is your own FREE location-based personal shopping web app.
  %p &nbsp;

#how-to-use.row.text-center
  .col-xs-6
    %strong=link_to "How To Use", how_to_use_path
  .col-xs-6
    %strong=link_to "Are You a Business Owner? Partner With Us", "http://snazzdat.com/business"


-if !current_user.nil?

  %a.btn.btn-default{href: log_out_path} Sign Out

-else
  .text-center
    .btn-group.btn-group-lg
      %a.btn.btn-default{href: log_in_path} Sign In
      %a.btn.btn-default{href: sign_up_path} Sign Up
