.row
  #homepage-blurb.col-sm-6.col-xs-12
    SnazzDat is your own FREE |
    location-based personal shopping web app.
.row
  -if !current_user.nil?
    .col-lg-6.col-sm-12
      %h3=" Hello there, #{current_user.name}"
      =link_to 'Sign Out', log_out_path, class: 'btn btn-default btn-lg btn-block'
  -else
    .col-lg-6.col-sm-12
      #home-login-block.text-center
        %p
          =link_to '#', onclick: 'FBLogin();', class: 'btn btn-primary btn-lg' do
            %i.fa.fa-facebook
            Login with Facebook

        %p
          .btn-group.btn-group-lg
            %a.btn.btn-default{href: log_in_path} Sign In
            %a.btn.btn-default{href: sign_up_path} Sign Up


.row.text-center
  .col-lg-6.col-sm-12
    %p
      =link_to "How To Use", how_to_use_path, class: 'btn btn-link'
    %p
      =link_to "Retailers Click Here", "http://snazzdat.com/business", class: 'btn btn-link'
