-if !current_user.nil?
  #sd-user-profile.row-fluid.clearfix
    .col-12
      .image-thumb.col-4
        =image_tag('photo.jpeg', {class:'img-polaroid'})
      .profile-name.col7
        %h4=current_user.full_name
        %small Location, State, Country

  =link_to "Size Profile", user_size_path(:user_id => current_user.id, :id => current_user.size.id), :class=>'btn btn-block btn-primary'

  %h5 Search for Products

  =render "search/form"
-else
  .row
    .col-6
      %h3.weight-lighter LOG IN
      %a.btn.btn-primary.btn-block{href:new_user_session_path} Login
    .col-6
      %h3.weight-lighter SIGN UP