#splash-logo
  .text-center
    =image_tag asset_path 'splash_logo.png'


-if !current_user.nil?

  %a.btn.btn-default{href: log_out_path} Sign Out

-else
  .text-center
    .btn-group.btn-group-lg
      %a.btn.btn-default{href: log_in_path} Sign In
      %a.btn.btn-default{href: sign_up_path} Sign Up