%h3
  =link_to "How To Measure", measure_path

=simple_form_for [current_user, @size], html: {class:'form-horizontal edit-sizes-form'} do |f|
  .row
    .col-sm-6
      .form-group
        =f.label :neck, class: 'col-sm-3 control-label'
        .col-sm-4
          =f.input_field :neck, maxLength: 3,  type: 'tel'
          %small
            %em inches
      .form-group
        =f.label :chest, class: 'col-sm-3 control-label'
        .col-sm-4
          =f.input_field :chest, maxLength: 3, type: 'tel'
          %small
            %em inches
      .form-group
        =f.label :sleeve, class: 'col-sm-3 control-label'
        .col-sm-4
          =f.input_field :sleeve, maxLength: 3, type: 'tel'
          %small
            %em inches
      .form-group
        =f.label :bust, class: 'col-sm-3 control-label'
        .col-sm-4
          =f.input_field :bust, maxLength: 3, type: 'tel'
          %small
            %em inches
      .form-group
        =f.label :waist, class: 'col-sm-3 control-label'
        .col-sm-4
          =f.input_field :waist, maxLength: 3, type: 'tel'
          %small
            %em inches
    .col-sm-6
      .form-group
        =f.label :hips, class: 'col-sm-3 control-label'
        .col-sm-4
          =f.input_field :hips, maxLength: 3, type: 'tel'
          %small
            %em inches
      .form-group
        =f.label :inseam, class: 'col-sm-3 control-label'
        .col-sm-4
          =f.input_field :inseam, maxLength: 3, type: 'tel'
          %small
            %em inches
      .form-group
        =f.label :height, class: 'col-sm-3 control-label'
        .col-sm-4
          =f.input_field :height, maxLength: 3, type: 'tel'
          %small
            %em inches
      .form-group
        =f.label :weight, class: 'col-sm-3 control-label'
        .col-sm-4
          =f.input_field :weight, maxLength: 3, type: 'tel'
          %small
            %em lbs
      -#.form-group
        =f.label :body_shape, class: 'col-sm-3 control-label'
        .col-sm-4
          =f.select :body_shape_code, collection: BodyShapeConstants::ALL.map{|k| [k[:name], k[:code]]}

    .col-sm-offset-1.col-sm-9
      .form-group
        =f.button :submit, "Submit", class: 'btn btn-primary'