
#size-profile.row.clearfix
  .col-12
    %h3
      SIZE PROFILE
    .size-profile-block
      .size-profile
        .pull-right
          =size.waist
        Waist
      .size-profile
        .pull-right
          =size.hips
        Hips
      .size-profile
        .pull-right
          =size.bust
        Bust
      .size-profile
        .pull-right
          =size.neck
        Neck
      .size-profile
        .pull-right
          =size.shoulder
        Shoulder
-if !current_user.nil?
  .row
    .col-12.pull-right
      %a.btn.btn-primary.btn-block{href:edit_user_size_path(:user_id => current_user.id, :id=>size.id) } Edit

  =size.as_json