= simple_form_for(@size, :url => user_size_path, :html => { :method => :put, :class => 'form-vertical' }) do |f|
  =f.input :waist
  =f.input :hips
  =f.input :neck
  =f.input :shoulder
  =f.input :inseam
  =f.input :height
  =f.input :foot
  =f.input :bust
  =f.submit :submit


=@size.as_json
