/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
*/
@import "bourbon";
@import "bootstrap.min";
@import "font-awesome";
@import "home";
@import "sizes";
@import "products";
@import "bootstrap-windows.min";

body {
  background: #484747;

  a {
    color: #fff;
  }
}
.container.window {
  padding-top: 70px;
  padding-bottom: 100px;
}

.weight-lighter {
  font-weight: lighter;
}
.content {
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}


/****Begin Navigation******/

#phone-nav, #desktop-nav {
  background: #8e44ad;
  border: none;
  color: #fff;
  a, a:hover {
    color: #fff;
  }
}
#phone-nav button {
  background: none;
  color: #fff;
  border: none;
  outline: none;
}

.search-container {
  margin-top: 15px;
  display: none;
}

#navi-avatar {
  color: #fff;
  .pull-left {
    padding: 10px;
    &:first-child {
      width: 50px;
      margin-right: 10px;
    }
  }
  a {
    color: #fff;
  }
}


/*** END Navigation ***/

/****Begin Profile Image ****/
#sd-user-profile {
  margin-bottom: 20px;
  position: relative;
  .image-thumb {
    margin-right: 20px;
  }
  .profile-name {
    h4 {
      font-size: 20px;
    }
  }
}

 #js-product-search-button {
   position: absolute;
   left: auto;
   right: 5%;
   margin: 6px 0 10px 0;
 }

/*** End Profile Image  ***/