.product {
  margin-bottom: 20px;
  .product-image {
    height: 340px;
    background: #fff;
    overflow: hidden;
    img {
      max-width: inherit;
      display: block;
      margin: 0 auto;
    }
  }


  .description {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    .name {
      padding: 10px 0;
      text-align: center;
    }
    .description-item {
      border-bottom: solid 1px #ccc;

      &:last-child {
        border-bottom: none;
      }
    }

  }
}