%h1 Select a Store to make an appointment with...
%ul
  - @partners.each do |partner|
    %li
      =partner.name
      |
      =link_to 'Make Appointment', new_user_appointment_path(partner_id: partner.id)