%h3 Please select a store

%ul.list-group
  - @partners.each do |partner|
    %li.list-group-item
      =link_to partner.name, new_user_appointment_path(partner_id: partner.id)

%p
  Below are a few stores nearby, but not on our platform.  Help us get them on!

%ul#nearby-places.list-group

#map-canvas.hidden


:coffeescript
  $ ->
    $('#nearby-places').on 'click', 'a', ->
        $(this).closest('li.list-group-item').html("<span class ='text-success'><strong>REQUEST SENT!</strong></span>")
    null