%p
  %strong Name:
  =@appointment.partner.name
%p
  %strong Date:
  =localize(@appointment.date, format: '%m/%d/%Y')
%p
  %strong Time:
  =localize(@appointment.date, format: '%I:%M %P')

=link_to edit_user_appointment_path(partner_id: @appointment.partner.id), class: 'btn btn-default' do
  %i.fa.fa-pencil-square-o
  Edit
