%h3 Show Appointment
.panel.panel-default
  .panel-heading
    .pull-right
      =link_to 'Edit', edit_appointment_path, class: 'btn-link'
    Appointment Information
.panel-body
%p
  %strong Name:
  =@partner_name #Partner.find(@appointment.receiver).attributes['name']
%p
  %strong Style:
  =@appointment.email
%p
  %strong Date:
  =@appointment.date
%p
  %strong Time:
  =@appointment.date


