="Hi #{@appointment.partner.name},"
="Please prepare an ensemble/look for #{@appointment.user.name} using the following preferences:"

=@appointment.notes


="Expected arrival at your store on #{localize(@appointment.date, format: '%m/%d/%Y at %I:%M %P')}"


Thank you,
The SnazzDat Team