="Hi #{@appointment.user.name},"
="A fashion styling appointment has been scheduled for you at #{@appointment.partner.name} on #{localize(@appointment.date, format: '%m/%d/%Y at %I:%M %P')}"


Thank you,
The SnazzDat team