#desktop-nav.navbar.navbar-default.navbar-fixed-top.hidden-xs.hidden-sm
  .contain
    .navbar-header
      %a.navbar-brand{href: root_path} SnazzDat

    %ul.nav.navbar-nav.navbar-right
      - if current_user.nil?
        %li
          %a{href: log_in_path} Sign In
        %li
          %a{href: sign_up_path} Sign Up
      - else
        %li
          %a{href: log_out_path} Sign Out

      %li
        %a#js-product-search-button{href: '#', data:{nav: 'desktop'}}
          %i.fa.fa-2x.fa-search

#phone-nav.navbar.navbar-default.window.window-center.window-left-slide.window-right-slide.navbar-fixed-top.visible-xs.visible-sm.hidden-print{role: "navigation"}
  .navbar-inner
    .container
      %a.navbar-brand{href: root_path}
        SnazzDat
      %button.btn.btn-default.btn-left{"data-target" => "#navi-left", "data-toggle" => "window", type: "button"}
        %i.fa.fa-2x.fa-align-justify

      %a#js-product-search-button{href: '#', data:{nav: 'phone'}}
        %i.fa.fa-2x.fa-search

.container.search-container
  = render 'search/form'

#navi-left.window.window-left.window-invert.visible-xs.visible-sm.hidden-print{"aria-hidden" => "true"}
  .contain
    %ul.nav.nav-stacked.nav-striped

      -unless current_user.nil?
        %li#navi-avatar.clearfix
          %a{href: user_path(current_user.id)}
            .pull-left
              %i.fa.fa-user.fa-3x
            .pull-left
              .text-ellipsis
                %strong= current_user.username
              %span.ellipsis= current_user.name
        %li
          - if current_user.size.nil?
            =link_to "Size Profile", new_user_size_path(user_id: current_user.id)
          - else
            =link_to "Size Profile", user_size_path(user_id: current_user.id, id: current_user.size.id)
        %li
          =link_to "Snazzy Suggestions", my_matches_user_path(id: current_user.id)

      %li.li-footer
        %div
          =link_to "About Us", about_us_path
          =link_to "Terms of Use", terms_path
          =link_to "FAQs", faqs_path
          %br/
          =link_to "Privacy Policy", privacy_path
          =link_to "How to Measure", measure_path
          =link_to "How To Use", how_to_use_path
        %small.text-muted &copy; 2013 SnazzDat Inc.
  .window-footer
    .text-center
      %small{style:"color: #999"} Powered by Retailigence